.page-headline {
  margin: 0;
  padding: 0;
  background: image-url('lightbulbs.png');
  min-height: 250px;
  border-bottom: 1px solid $silver;

  .page-headline__copy {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
  }
}

.ideas__listing {
  width: 1024px;
  margin: 30px auto;
}

.ideas__listing-item {
  border: 1px solid $clouds;
  margin: 0 auto 10px auto;
  border-radius: 2px;
  padding: 15px 0;
  flex-wrap: nowrap;
}
.ideas__listing-like {
  padding: 20px 0 0 0;
  text-align: center;
  flex-basis: 50px;
  flex-shrink: 0;
  transition: all .25s ease;
  position: relative;

  span {
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin-top: -5px;
  }

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
.ideas__listing-image {
  border-radius: 4px;
  flex-basis: 150px;
  flex-shrink: 0;
  height: 100px;
  overflow: hidden;
}
.ideas__listing-details {
  padding: 15px;
  flex-grow: 1;

  .ideas__listing-title {
    font-size: 20px;
    font-weight: 500;
    color: $black;
    line-height: 1.5em;
  }
  .ideas__listing-description {
    margin: 0;
    line-height: 1.3em;
    font-size: 16px;
    color: $asbestos;
  }
}
.ideas__listing-owner {
  padding: 0 30px;
  align-self: center;
  flex-basis: 160px;
  flex-shrink: 0;
  display: flex;
  align-items: center;

  .ideas__listing-comments {
    margin-left: 40px;
    a {
      color: $silver;
    }
    span {
      color: $silver;
      margin: 0 10px;
    }
  }
}

.ideas.listing {
  margin-top: 20px;
}

.favorite-icon {
  &:hover {
    cursor: pointer;

    polygon {
      stroke: #f3c967;
    }
  }
}

.new-idea-form {
  background: #fff;
  border:1px solid #e7e7e7;
  border-radius: 4px;
  margin: 20px auto;
  float: none;
  padding: 30px;

}
